 <div style="position: sticky;
 top: 0;
 right: 0;
 left: 0;
 z-index: 1030;">
 <nav class="navbar sticky-top navbar-inverse .navbar.navbar-default.navbar-static-top" >
    <div class="container-fluid" >
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/home" >Contact Information</a>
      </div>
      <div id="navbar" class="navbar-collapse">
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <button class="btn" style="margin-right:10px;" routerLink="/create">+ Add Contact</button>
            <input [(ngModel)]="searchText" name="searchText" style="width: 14em;height: 34px;border-radius: 7px 0px 0px 7px;" placeholder="search text goes here">
           <button type="submit" class="btn btn-success">Search</button>
            <ul>
              <li *ngFor="let c of characters | filter : searchText">
                {{c}}
              </li>
            </ul>
          </div>
          
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
</div>
<div style="height: auto;">
<router-outlet></router-outlet>
</div>
