<form class="container" #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)">
        <div class="form-row">
            <label for="inputtext1">Name:</label>
            <input type="text" class="form-control" id="inputtext1" name="name" placeholder="Enter Name" value="" ngModel>
        </div>
        <div class="form-row">
                <label for="inputtext2">Mobile No:</label>
                <input type="text" class="form-control" id="inputtext2" name="mobilenumber" value="" placeholder="Enter Mobile Number" ngModel>
        </div>
        <div class="form-row">
                <label for="inputtext2">Email:</label>
                <input type="text" class="form-control" id="inputtext3" name="mobilenumber" value="" placeholder="Enter Mobile Number" ngModel>
        </div>
        <div class="form-row">
                <label for="inputtext2">Relation:</label>
                <input type="text" class="form-control" id="inputtext4" name="mobilenumber" value="" placeholder="Enter Mobile Number" ngModel>
        </div>

        <div></div>
        <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
